name: Lint Python code

on: [push, pull_request]

jobs:
  flake8:
    runs-on: ubuntu-latest

    steps:
      - name: Check out source repository
        uses: actions/checkout@v5

      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: flake8 Lint
        uses: py-actions/flake8@v2

  pylint:
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out source repository
        uses: actions/checkout@v5

      - name: Install pylint-sarif-unofficial
        run: pipx install pylint-sarif-unofficial

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml

      - name: Make editable install
        run: pip install --no-deps -e .

      - name: Run pylint, output annotations
        run: |
          (shopt -s globstar; pylint -f actions -- **/*.py || pylint-exit "$?")

      - name: Run pylint, output SARIF
        run: (shopt -s globstar; pylint2sarif -- **/*.py)

      - name: Upload SARIF to GitHub Security Center
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: pylint.sarif

  isort:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out source repository
        uses: actions/checkout@v5

      - name: Set up micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml

      - name: Make editable install
        run: pip install --no-deps -e .

      - name: isort Check
        uses: isort/isort-action@v1
